label {
  padding-top: 1em;
  margin-top: 1em;
}

.spacing {
  width: 100% !important;
  height: 1em !important;
}

.noMarginNoPadding {
  margin: 0px;
  padding: 0px;
}

hr {
  background-color: var(--vscode-dropdown-border);
  border-color: var(--vscode-dropdown-border);
  margin-top: 1em;
}

input {
  width: 90%;
}

input[type=submit] {
  width: auto;
  margin: 5px;
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  margin-right: 10px;
  width: auto;
  padding: 2px 14px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  outline-offset: 2px !important;
  font-size: 13px;
  line-height: 1.4em;
  border: 1px solid;
  border-color: var(--vscode-dropdown-border);
  margin-top: 1em;
}

input[type=submit]:hover {
  background-color: var(--vscode-button-hoverBackground);
}

input[type=submit]:focus {
  border-color: var(--vscode-contrastActiveBorder);
}

input[type=checkbox] {
  -webkit-appearance: none;
  background-color: var(--vscode-settings-checkboxBackground);
  color: var(--vscode-settings-checkboxForeground);
  border: 1px solid;
  width: 18px;
  height: 18px;
  border-color: var(--vscode-settings-checkboxBorder);
  display: inline-block;
  vertical-align: middle;
}

input[type=checkbox]:checked {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='-2 -2 16 16'%3E%3Cpath fill='%23C5C5C5' d='M9 0L4.5 9 3 6H0l3 6h3l6-12z'/%3E%3C/svg%3E") 50% no-repeat;
}

input[type=text] {
  background-color: var(--vscode-input-background);
  border: 1px solid;
  border-color: var(--vscode-dropdown-border);
  color: var(--vscode-input-foreground);
  width: 100%;
  padding: 4px;
  text-overflow: ellipsis;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  margin: 0em;
  margin-top: 1em;
}

input[type=text]:focus {
  outline-color: var(--vscode-inputOption-activeBorder);
}

input[type=text]:disabled {
  opacity: 0.4;
}

textarea {
  background-color: var(--vscode-input-background);
  border-color: var(--vscode-input-border);
  color: var(--vscode-input-foreground);
  width: 100%;
  padding: 4px;
  text-overflow: ellipsis;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  margin: 0em;
  border: 1px solid;
  border-color: var(--vscode-dropdown-border);
}

textarea:focus {
  outline-color: var(--vscode-inputOption-activeBorder);
}

input[type=number] {
  background-color: var(--vscode-input-background);
  border-color: var(--vscode-input-border);
  color: var(--vscode-input-foreground);
  width: 100%;
  padding: 4px;
  text-overflow: ellipsis;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  margin: 0em;
  outline-color: var(--vscode-input-border);
  margin-top: 1em;
  border: 1px solid;
  border-color: var(--vscode-dropdown-border);
}

input[type=number]:focus {
  outline-color: var(--vscode-inputOption-activeBorder);
}

select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style-type: disc;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 11px system-ui;
  border-radius: 5px;
  -webkit-appearance: menulist;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  border-width: 1px;
  border-style: solid;
  -o-border-image: initial;
     border-image: initial;
  width: 100%;
  font-family: inherit;
  cursor: pointer;
  min-width: 110px;
  margin-right: 10px;
  background-color: var(--vscode-dropdown-background);
  color: var(--vscode-dropdown-foreground);
  border-color: var(--vscode-dropdown-border);
  margin-top: 1em;
}

select:not(:-internal-list-box) {
  overflow: visible !important;
}

#cancel {
  height: 30px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  float: right;
}

#cancel img {
  width: 100%;
  height: 100%;
}

.custom-file-input {
  color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Select some files';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active {
  outline: 0;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
/*# sourceMappingURL=sidebar.css.map */