//
//  @author  Lucas Vogel
//
html,body{
    width: 99vw!important;
    height: 40vw;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
fieldset {
    color: var(--vscode-foreground);
    border: 1px solid var(--vscode-foreground);// #9da5b4
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding:0px;
    margin:0px;
    margin-left: 0.4rem;
    vertical-align:top;
}

.projectContainer{
    width: 99vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 0px;

}
.projectContainer:first-child{
    margin-bottom: 0.7em;
}
legend {
    margin: 0px auto;
}
button{
    display: inline;
    margin: 0px;
    padding:0px;
    background-color: var(--vscode-foreground);
    overflow: hidden;
    max-width:30px;
    max-height:30px;
    min-width:15px;
    min-height:15px;
    height: 30vh;
    width: 30vh;
    border:1px solid var(--vscode-foreground);
    color: var(--vscode-foreground);
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border:0px;
    vertical-align:top;
}
buton:hover{
    border: 1px solid white;
}